* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  width: 80%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-title {
  margin: 0;
}

.todo-item {
  font-size: 1rem;
  background: #fff;
  color: #282c34;
  padding: 0.3em 0.5em;
  margin-bottom: 1em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove-item {
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.remove-item:hover {
  transform: scale(1.2);
}

.remove-item:focus {
  outline: none;
}

.todo-input {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  font-size: 1em;
  color: white;
  background: transparent;
  border: none;
  border-bottom: solid 1px #fff;
  transition: all 0.3s ease;
}

.todo-input:focus {
  outline: none;
  border-bottom: solid 3px #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
